/* reset CSS and set basic CSS */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
    margin: 0;
}

audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
}

img, video {
    max-width: 100%;
    height: auto;
}

html {
    font-size: 1em !important;
    color: #000 !important;
    font-family: 'Quicksand', sans-serif;
}

ul, li, ol, a {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
