
.design-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    height: 40rem;
    z-index: -10;
}

.design-1 .design-1-svg {
    position: absolute;
    left: 0;
    fill: var(--purple-dark);
    transform: translate(-6rem, -18rem) rotate(-7deg) skew(0) skewY(0) scaleX(1) scaleY(1);
    width: 260rem;
    top: -4px;
    z-index: -10;
}

.content-header {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 8rem;
    text-align: center;
    color: var(--text-white)
}
.content-header p{
    font-size: 1.5rem;
}

.content-header h1 {
    margin-bottom: 1rem;
    margin-top: 3.5rem;
    font-family: 'Roboto Slab', serif;
    font-size: 3.5rem;
    font-weight: bold;
    text-transform: uppercase;

}
.content-header span{
    color: var(--yellow-2);
}
.myvalues {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 72rem;
    margin-left: auto;
    margin-right: auto;

}

.value{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: center;
    flex: 1 1 0%;
}

.value article{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.value article img{
    object-fit: contain;
    width:7rem;
    height: 7rem;
}

.value article .description{
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: var(--text-white);
}
.value article .description h2{
    text-transform: capitalize;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
   font-size: 1.25rem;
    margin-bottom: 0.5rem;
    color: var(--yellow-1)
}
.hope img{
    border-radius: 50%;
}
section.topics{
    padding-top:4rem;
}
section.topics .title{
    max-width: 80rem;
    color:var(--yellow-1);
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
    padding-top: 4rem;
    padding-left:1.5rem;
    padding-right: 1.5rem;
    border-top: 1px solid var(--border-gray);
    border-top-width:4px;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    z-index: -55;
}
section.topics .description{
    color: var(--text-white);
    font-size: 1rem;
    line-height: 1.75rem;
    text-align: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}
section.topics .list-image{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    max-width: 64rem;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;

}
.list-image li{
    display: flex;
    justify-content: space-around;
}
.list-image li img{

    border-radius: 50%;
    object-fit: cover;
    max-width: 10%;
    height: auto;
}
.btn-started{
    margin-top: 5rem;
    margin-bottom: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-started a{
    color: var(--btn-text-gray);
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--yellow-2);
    border-radius: 0.375rem;

}
.btn-started a:hover{
    background-color: var(--hover-yellow);
}
.design-2-svg{
    fill: var(--svg-yellow);
    margin-top: 4rem;
    display: block;
}
section#interest{
    padding-top: 1rem;
    padding-bottom: 4rem;
    background-image: linear-gradient(to bottom,var(--svg-yellow), var(--yellow-2));
}
#interest header{
    color: var(--text-white);
    text-align: center;
    padding-left: 1.5rem  ;
    padding-right: 1.5rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
}
#interest header h2{
    color: var(--gray-2);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-family:"Roboto Slab", serif;
    margin-bottom: 0.5rem;
    margin-top: -2rem;
    letter-spacing: 0.15rem;
}
#interest header p{
    color: var(--gray-2);
    font-size: 1.5rem;
    line-height: 2rem;
    margin-left: auto;
    margin-right: auto
}
.interest-list-gp{
    display: flex;
   flex-direction: column;
    max-width: 80rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
}
.interest-list-gp li.list-left{
    display: flex;
    width: 50%;
    text-align: right;
    padding:.5rem;
    border-radius: 0.375rem;
    align-self: flex-start;
    gap:0.5rem;
    align-items: center;

}
.interest-list-gp li.list-left .description,.interest-list-gp li.list-right .description{
    color: 	#423d52;
    padding: 0.5rem;
    border-radius: 0.375rem;
    width: 100%;

}
.interest-list-gp li.list-left .description h2,.interest-list-gp li.list-right .description h2{
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.interest-list-gp li.list-left .logo{
    padding-right: 1rem;
    border-radius: 0.375rem;
}
.fa-cloud-sun-rain:before,.fa-solar-panel:before,
.fa-recycle:before,.fa-globe:before,.fa-magnifying-glass:before{
    font-size: 3.75rem;
    line-height: 1
}
.interest-list-gp li.list-right{
    display: flex;
    width: 50%;
    text-align: left;
    padding:.5rem;
    border-radius: 0.375rem;
    align-self: flex-end;
    gap:0.5rem;
    align-items: center;
}
.interest-list-gp li.list-right .logo{
    padding-left: 1rem;
    border-radius: 0.375rem;
}
.design-3-svg{
    fill: var(--svg-blue);
    margin-top: -4rem;
    height: 100%
}
#personality{
    padding-bottom: 8rem;
    padding-top: 1rem;
    background-image: linear-gradient(to bottom,var(--svg-blue), var(--blue-dark))
}
#personality header{
    color: var(--text-white);
    text-align: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;

}
#personality header h2{
    color: var(--text-white);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin-top: -2rem;
    font-family: "Roboto Slab", serif;
    margin-bottom: 0.5rem;
}

#personality header p{
    font-size: 1.5rem;
    line-height: 2rem;
    margin-left: auto;
    margin-right: auto;
}
.personality-list-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width:80rem;
    padding-left:1rem;
    padding-right:1rem;
    gap:2rem;
    margin-top:4rem;
    margin-left: auto;
    margin-right: auto;
}
.personality-list-group li{
    flex:1 1 0%;
    cursor: pointer;

}
.personality-list-group li article{
    display: flex;
    color: var(--white-1);
    padding: 2rem;
    background-color: hsl(258, 94%, 19%);
    border-radius: 0.375rem;
    min-height: 100%;

}
.personality-list-group li article:hover{
    background-color: #1b003d;
}
.p_svg_1{
    font-size: 2.25rem;
    line-height: 2.5rem;
    color: hsl(280 100% 75%);
}
.p_description{
    margin-left: 1rem;
}
.p_h2{
    color: hsl(280 100% 65%);
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-family: "Roboto Slab", serif;
    margin-bottom: 0.25rem;
}
.p_h2.purple{
    color: hsl(267 100% 65%);
}
.p_h2.blue{
    color:hsl(257 100% 65%);
}
#me{
    color: rgb(255 255 255);
    text-align: center;
    padding-top:4rem;
padding-bottom: 4rem;
    background-image: linear-gradient(to bottom,#5c526f,#423d52);
    margin-bottom: -6rem
}
#me header{
    color: hsl(256 45% 90%/1);
    text-align: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
}
#me header h2{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-family: "Roboto Slab", serif;
    margin-bottom: 0.5rem;

}
#me header p{
    font-size: 1.5rem;
    line-height: 2rem;
    margin-left: auto;
    margin-right: auto;
}
#me ul{
    display: flex;
    flex-direction: row;
    max-width: 45rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    margin-left: auto;
    margin-right: auto;
}
#me ul li{
    flex: 1 1 0%;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#me ul li article{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: 	#c4bddb;
    padding: 2rem;
    background-color: #3b3649;
    border-radius: 0.375rem;
    min-height: 100%;
}
#me ul li article img{
    object-fit: cover;
    border-radius: 0.5rem;
    width: 16rem;
    height: 16rem;

}
#me ul li .description{
    display: flex;
    flex:1 1 0%;
    padding-top:1.5rem;
    padding-left:.25rem;
    padding-right:.25rem;
    justify-content: space-around;
}
#me ul li .description h2{
    font-weight: 700;
    font-size: 2rem;
    line-height: 2rem;
}
#me ul li .description div{
    margin-left: 3rem;
}
#me ul li .description p{
    margin-top: .5rem;
    color: 	#aba3c2;
    text-transform: uppercase;
    font-family: "Roboto Slab", serif;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: 	#aba3c2;
    margin-top: 2rem;
}
footer p{
    font-size: 1.125rem;
    line-height: 1.75rem
}